
@{
    ViewBag.Title = "AssignData";
    Layout = "~/Views/_LayoutPage.cshtml";
}

@* 
    /Competent/AssignData    
*@

<link href="~/Content/css/green.css" rel="stylesheet" />
<style>
    .form-inline {
        margin-top: 20px;
    }

        .form-inline .form-group {
            margin-right: 40px;
        }

    .form-group button {
        width: 10%;
    }

    table {
        margin-top: 20px;
    }

    .form-button {
        text-align: right;
        margin-top: 20px;
    }

    .btn-warning {
        margin-left: 20px;
    }
</style>
<script type="text/template" id="table-template">
    {{each informationList as infor}}
    <tr id="{{infor.dataCode}}">
        <td><a href="javascript:0" onclick="ToDetail('/Competent/DetailPage','{{infor.dataCode}}');">详细</a></td>
        <td>{{infor.dataCode}}</td>
        <td>{{infor.insertMember}}</td>
        <td>{{infor.customerName}}</td>
        <td>
            {{if infor.sex == 1}}
            男
            {{else if infor.sex == 0}}
            女
            {{/if}}
        </td>
        <td>{{infor.phone}}</td>
        <td>{{infor.qq}}</td>
        <td>{{infor.webchat}}</td>
        <td>{{infor.email}}</td>
        <td>
            {{if infor.hashouse == 1}}
            有
            {{else}}
            无
            {{/if}}
        </td>
        <td>{{infor.hobby}}</td>
        <td>{{infor.usageMember}}</td>
        <td>
            <div class="icheckbox_square-green" style="position: relative;" onclick="check();">
                <input type="checkbox" name="chkData" value="{{infor.dataCode}}" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                @*<ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                    </ins>*@
            </div>
            @*<input type="checkbox" value="{{infor.dataCode}}" name="chkData">*@
        </td>
    </tr>
    {{/each}}
</script>
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="/">管理后台</a></li>
            <li class="active">首页</li>
        </ol>
    </div>
    <div class="container">
        <label>为 <span id="span-account"></span> 分配数据</label>
    </div>
    <div class="div-table">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table id="table-data" class="table table-bordered"
                           data-toggle="table" data-search="true" data-pagination="true">
                        <thead>
                            <tr>
                                <th></th>
                                <th>数据代码</th>
                                <th>数据收集人</th>
                                <th>客户姓名</th>
                                <th>性别</th>
                                <th>客户电话</th>
                                <th>客户qq</th>
                                <th>微信号</th>
                                <th>邮箱</th>
                                <th>是否有房</th>
                                <th>爱好</th>
                                <th>使用人</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <form id="form-submit">
            <input type="button" class="btn btn-success btn-save" value="保存" />
            <div class="form-group">
                <div class="alert alert-danger alert-data" style="display:none;">
                    <a class="close" data-dismiss="alert">×</a>
                    <span id="span-message"></span>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="~/Content/js/common.js"></script>
<script src="~/Content/js/icheck.js"></script>
<script src="~/Content/js/bootstrap-table.js"></script>
<script>
    var account = null;
    $(document).ready(function () {

        $("input").iCheck({
            checkboxClass: 'icheckbox_square',
            increaseArea: '20%'
        });

        account = getUrlParam("Account");
        $("#span-account").text(account);

        LoadData();
    });

    //加载数据
    function LoadData() {
        $.ajax({
            url: "/Competent/LoadEnableAssignData",
            type: "POST",
            success: function (data) {
                if (data.state == "error") {
                    $(".alert-data").show();
                    $(".alert-data span").html(data.message);
                }
                else if (data.state == "success") {
                    var dataList = {
                        informationList: JSON.parse(data.data)
                    };

                    console.log(dataList);
                    var html = template("table-template", dataList);
                    $("table tbody").html(html);
                }
            },
            error: function () {
                $(".alert-data").show();
                $(".alert-data span").html("系统错误，加载数据失败");
            }
        });
    }

    $(".btn-save").on("click", function () {
        var array = new Array();
        $("input[name='chkData']:checked").each(function () {
            console.log($(this).attr("value"));
            array.push($(this).attr("value"));
            //if (true == $(this).attr("checked")) {
            //    array.push($(this).attr("value"));
            //}
        });
        console.log(array);
        $.ajax({
            url: "/Competent/Assign",
            type: "POST",
            data: {
                Account: account,
                DataCodeList: array
            },
            success: function (data) {
                if (data.state == "error") {
                    $(".alert-data").show();
                    $(".alert-data span").html(data.message);

                }
                else if (data.state == "success") {
                    alert(data.message);
                    window.location.reload();
                }

            },
            error: function () {
                $(".alert-data").show();
                $(".alert-data span").html("系统错误，加载数据失败");
            },
            complete: function () {
                array = [];
            }
        });
    });

    function check() {
        var e = window.event;
        var obj = $(e.target || e.srcElement);

        //console.log(obj.children("input[type='checkbox']"));
        if (obj.is(':checked')) {

            obj.attr("checked", "true");
            obj.parent().addClass("checked");
        }
        else {

            obj.attr("checked", "false");
            obj.parent().removeClass("checked");
        }
    }
    //$(".icheckbox_square-green").on("click", function () {

    //})
</script>
