
@{
    ViewBag.Title = "ImportPage";
    Layout = "~/Views/_LayoutPage.cshtml";
}
@*
    /Competnet/ImportPage
*@
<style>
    .td-btn {
        text-align: right;
    }

    .div-single-data, .div-excel-data {
        display: none;
    }

    .alert-active {
        display: block;
    }

    .table {
        text-align: center;
    }

    #form-addCustomItem input[type='text'] {
        width: 200px;
    }

    #form-CustomItems table td {
        border: 1px solid #dddddd;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #form-submit {
        text-align: right;
    }

        #form-submit input[name='submit'] {
            width: 200px;
        }
</style>
<script type="text/template" id="customerItemTemplate">
    {{each itemList as item}}
    <tr>
        <td colspan="2">{{item.Content}}</td>
        <td colspan="5">
            <input type="text" name="{{item.Name}}" class="form-control" />
        </td>
        <td colspan="2">
            <input type="button" name="btn-Update" value="修改" class="btn btn-primary" onclick="Upate('{{item.Name}}','{{item.Content}}');" />
            <input type="button" name="btn-Delete" value="删除" class="btn btn-danger" onclick="Delete('{{item.Name}}')" />
        </td>
    </tr>
    {{/each}}
</script>
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="/">管理后台</a></li>
            <li class="active">数据导入</li>
        </ol>
    </div>
    <div class="container">
        <div class="alert alert-danger div-single-data">
            <a class="close" data-dismiss="alert">×</a>
            <strong>添加此条数据失败! </strong>请联系管理员
        </div>
        <label>
            数据单条录入
        </label>
        <form id="form-baseInformation">
            <table class="table table-bordered">
                <tr>
                    <td colspan="1">
                        客户姓名
                    </td>
                    <td colspan="2">
                        <input type="text" class="form-control" name="CustomerName">
                    </td>
                    <td colspan="1">
                        性別
                    </td>
                    <td colspan="2">
                        <select name="Sex" class="form-control">
                            <option selected="selected" value="1">男</option>
                            <option value="0">女</option>
                        </select>
                    </td>
                    <td colspan="1">
                        年齡
                    </td>
                    <td colspan="2">
                        <input type="text" class="form-control" name="Age" pattern="^[0-9]+$" data-bv-regexp-message="年龄不合法">
                    </td>
                </tr>
                <tr>
                    <td colspan="1">
                        省市
                    </td>
                    <td colspan="8">
                        <input type="text" class="form-control" name="Address">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        所屬行業
                    </td>
                    <td colspan="2">
                        <input type="text" class="form-control" name="Industry">
                    </td>
                    <td colspan="1">
                        職業
                    </td>
                    <td colspan="4">
                        <input type="text" class="form-control" name="Occupation">
                    </td>
                </tr>
                <tr>
                    <td colspan="1">
                        婚否
                    </td>
                    <td colspan="1">
                        <select name="Ismarry" class="form-control">
                            <option selected="selected" value="1">有</option>
                            <option value="0">无</option>
                        </select>
                    </td>
                    <td colspan="1">
                        子女
                    </td>
                    <td colspan="1">
                        <select name="Children" class="form-control">
                            <option selected="selected" value="1">有</option>
                            <option value="0">无</option>
                        </select>
                    </td>
                    <td colspan="1">
                        年收入
                    </td>
                    <td colspan="4">
                        <input type="text" class="form-control" name="Income" pattern="^[0-9]+$" data-bv-regexp-message="年收入不合法">
                    </td>
                </tr>
                <tr>
                    <td colspan="1">
                        車否
                    </td>
                    <td colspan="1">
                        <select name="hascar" class="form-control">
                            <option value="1" selected="selected">有</option>
                            <option value="0">无</option>
                        </select>
                    </td>
                    <td colspan="1">
                        房否
                    </td>
                    <td colspan="1">
                        <select name="Hashouse" class="form-control">
                            <option selected="selected" value="1">有</option>
                            <option value="0">无</option>
                        </select>
                    </td>
                    <td colspan="1">愛好</td>
                    <td colspan="4">
                        <input type="text" class="form-control" name="Hobby">
                    </td>
                </tr>
                <tr>
                    <td colspan="1">電話</td>
                    <td colspan="4">
                        <input type="text" class="form-control" name="Phone" pattern="^[0-9]+$" data-bv-regexp-message="电话不合法">
                    </td>
                    <td colspan="1">qq</td>
                    <td colspan="3">
                        <input type="text" class="form-control" name="QQ" pattern="^[0-9]+$" data-bv-regexp-message="qq不合法">
                    </td>
                </tr>
                <tr>
                    <td colspan="1">微信</td>
                    <td colspan="3">
                        <input type="text" class="form-control" name="Webcat">
                    </td>

                    <td colspan="1">郵箱</td>
                    <td colspan="4">
                        <input type="text" class="form-control" name="Email">
                    </td>
                </tr>
                <tr>
                    <td colspan="1">投資項目</td>
                    <td colspan="2">
                        <input type="text" class="form-control" name="InvestProj">
                    </td>
                    <td colspan="1">投資理念</td>
                    <td colspan="3">
                        <input type="text" class="form-control" name="InvestConc" />
                    </td>
                    <td colspan="1">投資年限</td>
                    <td colspan="1">
                        <input type="text" class="form-control" name="InvestLife" />
                    </td>
                </tr>
                <tr>
                    <td colspan="1">備注1</td>
                    <td colspan="8">
                        <input type="text" class="form-control" name="Note1" />
                    </td>
                </tr>
                <tr>
                    <td colspan="1">備注2</td>
                    <td colspan="8">
                        <input type="text" class="form-control" name="Note2" />
                    </td>
                </tr>
                <tr>
                    <td colspan="1">備注3</td>
                    <td colspan="8">
                        <input type="text" class="form-control" name="Note3" />
                    </td>
                </tr>
            </table>
        </form>
        <hr />
        <label>
            自定义字段
        </label>
        <form id="form-CustomItems">
            <table class="table table-bordered"></table>
            <div class="form-group">
                <div class="alert alert-danger alert-getCustomItem" style="display:none;">
                    <a class="close" data-dismiss="alert">×</a>
                    <span id="span-message"></span>
                </div>
            </div>
        </form>
        <form id="form-submit">
            <input type="button" class="btn btn-success" name="submit" value="录入" />
            <div class="form-group">
                <div class="alert alert-danger alert-addInformation" style="display:none;">
                    <a class="close" data-dismiss="alert">×</a>
                    <span id="span-message"></span>
                </div>
            </div>
        </form>
        <hr />
        <label>
            添加自定义字段
        </label>
        <form id="form-addCustomItem">
            <div class="form-group">
                <input type="text" name="CustomItemName" class="form-control" required data-bv-notempty-message="自定义项名称不能为空" />
            </div>
            <div class="form-group">
                <div class="alert alert-danger alert-customItem" style="display:none;">
                    <a class="close" data-dismiss="alert">×</a>
                    <span id="span-message"></span>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-Add">添加</button>
            <div class="alert alert-danger alert-addCustomItem" style="display:none;">
                <a class="close" data-dismiss="alert">×</a>
                <span id="span-message"></span>
            </div>
        </form>
        <hr />
        <label>
            数据导入
        </label>
        <form id="form-data">
            <div class="form-group">
                <label for="exampleInputFile">Excel数据文件导入</label>
                <input type="file" name="fileCollection" accept=".xls,.xlsx">
                <p class="help-block">请选择要导入的excel文件.</p>
            </div>
            <div class="alert alert-danger div-excel-data">
                <a class="close" data-dismiss="alert">×</a>
                <strong>导入数据失败! </strong>请检查您的上传的excel表格格式是否正确
            </div>
            <button class="btn btn-primary" type="button" onclick="UploadFile();">导入</button>
        </form>
    </div>
</div>
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">修改信息</h4>
            </div>
            <div class="modal-body">
                <form class="update-form">
                    <div class="form-group">
                        <input type="hidden" name="customItemName" value="" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <input type="text" name="customItemContent" value="" class="form-control" required data-bv-notempty-message="自定义项的名称不为空" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-save">保存</button>
            </div>
            <div class="alert alert-danger alert-updateCustomItem" style="display:none;">
                <a class="close" data-dismiss="alert">×</a>
                <span id="span-message"></span>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">删除自定义项</h4>
            </div>
            <div class="modal-body">
                是否确定删除该自定义项？
                <input type="hidden" name="customItemName" value="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger btn-confirm">删除</button>
            </div>
            <div class="alert alert-danger alert-deletecustomItem" style="display:none;">
                <a class="close" data-dismiss="alert">×</a>
                <span id="span-message"></span>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/js/bootstrapValidator.min.js"></script>
<script src="~/Content/js/common.js"></script>
<script src="~/Content/js/CustomItem.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        GetCustomItemList();
    });
    function GetCustomItemList() {
        $.ajax({
            url: "/Competent/GetCustomItems",
            type: "POST",
            success: function (data) {
                if (data.state == "error") {
                    $(".alert-getCustomItem").show();
                    $(".alert-getCustomItem span").html(data.message);
                }
                else if (data.state == "success") {
                    var customItemList = {
                        itemList: JSON.parse(data.data)
                    };

                    var html = template("customerItemTemplate", customItemList);
                    $("#form-CustomItems table").html(html);
                }
            },
            error: function () {
                $(".alert-getCustomItem").show();
                $(".alert-getCustomItem span").html("系统错误，添加自定义项失败");
            }
        });
    }
    $(".btn-Add").on("click", function () {
        $("#form-addCustomItem").bootstrapValidator();
        var name = $("#form-addCustomItem input[name='CustomItemName']").val();
        AddCustomItem("/Competent/AddCustomItems", name);

        $("#form-addCustomItem input[name='CustomItemName']").val("");
    });
    // 弹出修改框
    function Upate(customItemName, customItemContent) {
        $("#updateModal").modal();
        $("#updateModal input[name='customItemName']").val(customItemName);
        $("#updateModal input[name='customItemContent']").val(customItemContent);
    }
    // 修改
    $(".btn-save").on("click", function () {
        $(".update-form").bootstrapValidator();

        var customItemName = $("#updateModal input[name='customItemName']").val();
        var customItemContent = $("#updateModal input[name='customItemContent']").val();

        if (UpdateCustomItem("/Competent/UpdateCustomItems", customItemName, customItemContent)) {
            window.location.href = "/Competent/ImportPage";
        }
    });
    // 弹出删除框
    function Delete(customItemName) {
        $("#deleteModal").modal();
        $("#deleteModal input[name='customItemName']").val(customItemName);
    }
    //删除
    $(".btn-confirm").on("click", function () {
        var customItemName = $("#deleteModal input[name='customItemName']").val();

        if (DeleteCustomItem("/Competent/DeleteCustomItems", customItemName)) {
            window.location.href = "/Competent/ImportPage";
        }
    });
    $("#form-submit input[name='submit']").on("click", function () {
        //$("#form-baseInformation").bootstrapValidator();
        //$("#form-CustomItems").bootstrapValidator();
        $.ajax({
            url: "/Competent/Import",
            type: "POST",
            dataType: "JSON",
            data: {
                InformationModel: $("#form-baseInformation").serializeObject(),
                CustomItemModel: $("#form-CustomItems").serializeArray()
            },
            success: function (data) {
                if (data.state == "error") {
                    $(".alert-addInformation").show();
                    $(".alert-addInformation span").html(data.message);
                }
                else if (data.state == "success") {
                    window.location.href = "/Competent/ImportPage";
                }
            },
            error: function () {
                $(".alert-addInformation").show();
                $(".alert-addInformation span").html("系统错误，添加新数据失败");
            }
        });
    });

    // 上传文件 导入数据
    function UploadFile() {
        var formData = new FormData($("#form-data")[0]);
        $.ajax({
            url: '/Competent/Upload',
            type: 'POST',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.state == "error") {
                    $(".div-excel-data").addClass("alert-danger");
                    $(".div-excel-data").removeClass("alert-success");
                    $(".div-excel-data").show();
                    $(".div-excel-data span").html(data.message);
                }
                else if (data.state == "success") {
                    $(".div-excel-data").addClass("alert-success");
                    $(".div-excel-data").removeClass("alert-danger");
                    $(".div-excel-data").show();
                    $(".div-excel-data span").html(data.message);
                }
            },
            error: function (returndata) {
                $(".div-excel-data").addClass("alert-danger");
                $(".div-excel-data").removeClass("alert-success");
                $(".div-excel-data").show();
                $(".div-excel-data span").html("系统错误，导入数据失败");
            }
        });
    }
</script>
