<?xml version="1.0"?>
<configuration>
  <roles>
    <role value="0">
      <name value="Admin"></name>
      <content value="管理员"></content>
      <url value="/Admin/Index"></url>
    </role>
    <role value="1">
      <name value="Competent"></name>
      <content value="主管"></content>
      <url value="/Competent/Index"></url>
    </role>
    <role value="2">
      <name value="Collector"></name>
      <content value="收集员"></content>
      <url value="/Collector/Index"></url>
    </role>
      <role value="3">
      <name value="GeneralStaff"></name>
      <content value="普通员工"></content>
      <url value="/GeneralStaff/Index"></url>
    </role>
  </roles>
</configuration>
