
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<style>
    .form-inline {
        margin-top: 20px;
    }

        .form-inline .form-group {
            margin-right: 40px;
        }

    .form-group button {
        width: 10%;
    }

    .form-button {
        text-align: right;
        margin-top: 20px;
    }

    .btn-warning {
        margin-left: 20px;
    }
</style>
<script type="text/template" id="table-template">
    {{each informationList as infor}}
    <tr>
        <td><a href="#">详细</a></td>
        <td>{{infor.datacode}}</td>
        <td>{{infor.insertmember}}</td>
        <td>{{infor.customername}}</td>
        <td>
            {{if infor.sex == 1}}
            男
            {{else if infor.sex == 0}}
            女
            {{/if}}
        </td>
        <td>{{infor.phone}}</td>
        <td>{{infor.qq}}</td>
        <td>{{infor.webchat}}</td>
        <td>{{infor.email}}</td>
        <td>
            {{if infor.hashouse == 1}}
            有
            {{else}}
            无
            {{/if}}
        </td>
        <td>{{infor.hobby}}</td>
        <td>{{infor.usagemember}}</td>
        <td>{{infor.parent}}</td>
        <td>
            {{if infor.state == PendApproval}}
            <button class="btn btn-danger">待审批</button>
            {{else if infor.state == Assigned}}
            已分配
            {{else if infor.state == UnAssigned}}
            <button class="btn btn-success">分配</button>
            {{/if}}
        </td>
        <td>
            <button class="btn btn-primary btn-update" onclick="">修改</button>
            <button class="btn btn-danger btn-delete" onclick="">删除</button>
        </td>
    </tr>
    {{/each}}
</script>
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="/">管理后台</a></li>
            <li class="active">首页</li>
        </ol>
    </div>
    <div class="container">
        <div class="navbar">
            <div class="container">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" name="condition" class="form-control" placeholder="搜索">
                    </div>
                    <button type="button" class="btn btn-primary">搜索</button>
                </form>
                <form class="navbar-form navbar-left">
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        按条件搜索
                    </button>
                    <a class="btn btn-warning">数据录入</a>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button class="btn btn-success">导出当前数据</button>
                    </li>
                </ul>
            </div>
            <div class="collapse" id="collapseExample">
                <div class="well">
                    <div class="container">
                        <form class="form-inline">
                            <div class="form-group">
                                <label>性别</label>
                                <label>男</label>
                                <input type="checkbox" name="man" value="男" />
                                <label>女</label>
                                <input type="checkbox" name="woman" value="女" />
                            </div>
                            <div class="form-group">
                                <label>已婚</label>
                                <input type="checkbox" name="married" value="是" />
                                <label>未婚</label>
                                <input type="checkbox" name="nomarried" value="否" />
                            </div>
                            <div class="form-group">
                                <label>子女</label>
                                <label>有</label>
                                <input type="checkbox" name="haschildren" value="有" />
                                <label>无</label>
                                <input type="checkbox" name="nochildren" value="无" />
                            </div>
                            <div class="form-group">
                                <label>有车</label>
                                <input type="checkbox" name="hascar" value="是" />
                                <label>无车</label>
                                <input type="checkbox" name="nocar" value="否" />
                            </div>
                            <div class="form-group">
                                <label>有房</label>
                                <input type="checkbox" name="hashouse" value="是" />
                                <label>无房</label>
                                <input type="checkbox" name="nohouse" value="否" />
                            </div>
                        </form>
                        <form class="form-inline">
                            <div class="form-group div-agebox">
                                <label>年龄</label>
                                <input type="text" class="form-control" name="min_age" />~
                                <input type="text" class="form-control" name="max_age" />
                            </div>
                            <div class="form-group div-incomebox">
                                <label>年收入</label>
                                <input type="text" class="form-control" name="min_income" />~
                                <input type="text" class="form-control" name="max_income" />
                            </div>
                        </form>
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="input-append date form-datetime">
                                    <label>时间</label>
                                    <input type="date" class="form-control" name="insertTime" />
                                </div>
                            </div>
                        </form>
                        <div class="form-group form-button">
                            <button class="form-control btn-primary" type="button">搜索</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="div-table">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table id="table-data" class="table table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th>数据代码</th>
                                <th>数据收集人</th>
                                <th>客户姓名</th>
                                <th>性别</th>
                                <th>客户电话</th>
                                <th>客户qq</th>
                                <th>微信号</th>
                                <th>邮箱</th>
                                <th>是否有房</th>
                                <th>爱好</th>
                                <th>使用人</th>
                                <th>上级</th>
                                <th>数据状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-danger alert-data" style="display:none;">
        <a class="close" data-dismiss="alert">×</a>
        <span id="span-message"></span>
    </div>
</div>

<script>
    $(document).ready(function () {
        LoadData("/Admin/Search", null);
    });

    function LoadData(action, conditions) {
        $.ajax({
            url: action,
            type: "POST",
            async: false,
            data: {
                conditions: conditions
            },
            success: function (data) {
                if (data.state == "error") {
                    $(".alert-data").show();
                    $(".alert-data span").html(data.message);
                }
                else if (data.state == "success") {
                    var list = { informationList: JSON.parse(data.data) };

                    var html = template("table-template", list);
                    $("table tbody").html(html);
                }
            },
            error: function () {
                $(".alert-data").show();
                $(".alert-data span").html("系统错误，查询失败");
            }
        });
    }

</script>