
@{
    ViewBag.Title = "SearchPage";
    Layout = "~/Views/_LayoutPage.cshtml";
}


<style>
    .navbar-form {
        padding-left: 0px;
        margin-left: 0px !important;
    }

    .form-inline {
        margin-top: 20px;
        font-size: 12px;
        height: 35px;
        margin-top: 0px;
        text-align: right;
    }

        .form-inline .form-group {
            /*margin-right: 40px;*/
            margin-right: 5px;
        }

    .form-group button {
        width: 10%;
    }

    .form-group select {
        width: 60px;
        height: 28px;
        padding: 0px;
        font-size: 12px;
    }

    .form-control-static {
        padding: 0px;
    }

    .form-inline .form-group input {
        height: 28px;
        font-size: 12px;
    }

    .form-inline .div-formgroup {
        float: left;
        margin-right: 10px;
    }

    table {
        margin-top: 20px;
    }

    .form-button {
        text-align: right;
        margin-top: 20px;
    }

    .btn-warning {
        margin-left: 20px;
    }

    .ellipsis {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .fixed-table-container {
        margin-top: -20px;
    }
</style>
<script type="text/template" id="table-template">
    {{each informationList as infor}}
    <tr>
        <td class="ellipsis"><a href="javascript:0" onclick="ToDetail('{{infor.dataCode}}');">详细</a></td>
        <td class="ellipsis">{{infor.dataCode}}</td>
        <td class="ellipsis">{{infor.insertMember}}</td>
        <td class="ellipsis">{{infor.customerName}}</td>
        <td class="ellipsis">
            {{if infor.sex == 1}}
            男
            {{else if infor.sex == 0}}
            女
            {{/if}}
        </td>
        <td class="ellipsis">{{infor.phone}}</td>
        <td class="ellipsis">{{infor.qq}}</td>
        <td class="ellipsis">{{infor.webchat}}</td>
        <td class="ellipsis">{{infor.email}}</td>
        <td class="ellipsis">
            {{if infor.hashouse == 1}}
            有
            {{else}}
            无
            {{/if}}
        </td>
        <td class="ellipsis">{{infor.hobby}}</td>
        <td class="ellipsis">{{infor.usageMember}}</td>
        <td class="ellipsis">
            {{if infor.state == 0}}
            <button class="btn btn-danger">待审批</button>
            {{else if infor.state == 1}}
            已分配
            {{else if infor.state == 2}}
            <button class="btn btn-success">分配</button>
            {{/if}}
        </td>
        <td class="ellipsis">
            <button class="btn btn-primary btn-update" onclick="">修改</button>
            <button class="btn btn-danger btn-delete" onclick="">删除</button>
        </td>
    </tr>
    {{/each}}
</script>
<script type="text/template" id="search-Template">
    <form class="form-inline" id="form-conditionModel">
        <div class="div-formgroup">
            <div class="form-group">
                <p class="form-control-static">性别</p>
            </div>
            <div class="form-group">
                <select name="Sex" class="form-control">
                    <option selected="selected" value="1">男</option>
                    <option value="0">女</option>
                </select>
            </div>
        </div>
        <div class="div-formgroup">
            <div class="form-group">
                <p class="form-control-static">婚否</p>
            </div>
            <div class="form-group">
                <select name="IsMarry" class="form-control">
                    <option selected="selected" value="1">已婚</option>
                    <option value="0">未婚</option>
                </select>
            </div>
        </div>
        <div class="div-formgroup">
            <div class="form-group">
                <p class="form-control-static">子女</p>
            </div>
            <div class="form-group">
                <select name="Children" class="form-control">
                    <option selected="selected" value="1">有</option>
                    <option value="0">无</option>
                </select>
            </div>
        </div>
        <div class="div-formgroup">
            <div class="form-group">
                <p class="form-control-static">车否</p>
            </div>
            <div class="form-group">
                <select name="HasCar" class="form-control">
                    <option selected="selected" value="1">有</option>
                    <option value="0">无</option>
                </select>
            </div>
        </div>
        <div class="div-formgroup">
            <div class="form-group">
                <p class="form-control-static">房否</p>
            </div>
            <div class="form-group">
                <select name="HasHouse" class="form-control">
                    <option selected="selected" value="1">有</option>
                    <option value="0">无</option>
                </select>
            </div>
        </div>
        <div class="div-formgroup">
            <div class="form-group">
                <p class="form-control-static">年龄</p>
            </div>
            <div class="form-group div-agebox">
                <input type="text" class="form-control" name="MinAge" style="max-width:50px;" />~
                <input type="text" class="form-control" name="MaxAge" style="max-width:50px;" />
            </div>
        </div>
        <div class="div-formgroup">
            <div class="form-group">
                <p class="form-control-static">收入</p>
            </div>
            <div class="form-group div-incomebox">
                <input type="text" class="form-control" name="MinIncome" style="max-width:50px;" />~
                <input type="text" class="form-control" name="MaxIncome" style="max-width:50px;" />
            </div>
        </div>
        <div class="div-formgroup">
            <div class="form-group">
                <p class="form-control-static">时间</p>
            </div>
            <div class="form-group">
                <input type="date" class="form-control" name="InsertTime" />
            </div>
        </div>
    </form>
    <form class="form-inline" id="form-Conditions">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="关键字" name="KeyWord" value="" />
        </div>
        <div class="form-group">
            <input type="button" class="btn btn-primary form-control" onclick="Search();" value="搜索" />
        </div>
    </form>
</script>
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="/">管理后台</a></li>
            <li class="active">首页</li>
        </ol>
    </div>
    <div class="container" style="margin-bottom: 10px;">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <button class="btn btn-success" onclick="javascript:window.location.href='/Home/ExportData'">导出当前数据</button>
            </li>
        </ul>
    </div>
    <div class="div-table">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table id="table-data" class="table table-bordered"
                           data-toggle="table" data-pagination="true" data-search="true">
                        <thead>
                            <tr>
                                <th></th>
                                <th>数据代码</th>
                                <th>数据收集人</th>
                                <th>客户姓名</th>
                                <th>性别</th>
                                <th>客户电话</th>
                                <th>客户qq</th>
                                <th>微信号</th>
                                <th>邮箱</th>
                                <th>是否有房</th>
                                <th>爱好</th>
                                <th>使用人</th>
                                <th>数据状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="alert alert-danger alert-data" style="display:none;">
                <a class="close" data-dismiss="alert">×</a>
                <span id="span-message"></span>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/js/bootstrap-table.js"></script>
<script src="~/Content/js/common.js"></script>
<script>
    $(document).ready(function () {
        SearchBar();
    });

    // 初始化条件筛选bar
    function SearchBar() {
        $(".fixed-table-loading").remove();
        $(".search").removeClass("pull-right");
        var html = template("search-Template");
        console.log(html);
        $(".search").html(html);
    }

    function Search() {

        $.ajax({
            url: "/Admin/Search",
            type: "POST",
            data: {
                ConditionModel: $("form-conditionModel").serializeObject(),
                KeyWord: $("input[name='KeyWord']").val()
            },
            success: function (data) {
                if (data.state == "error") {
                    $(".alert-data").show();
                    $(".alert-data span").html(data.message);
                }
                else if (data.state == "success") {
                    var datalist = {
                        informationList: JSON.parse(data.data)
                    };
                    var html = template("table-template", datalist);
                    $("#table-data tbody").html(html);
                }
            },
            error: function () {
                $(".alert-data").show();
                $(".alert-data span").html("系统错误，无法获取到数据");
            }
        })
    }
</script>